<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="active-link">
        <a href="/admin/dashboard/"><i class="fa fa-desktop"></i>Dashboard </a>
      </li>

      <li class="active-link">
        <a href="/admin/blog/"><i class="fa fa-table"></i>Blogs </a>
      </li>
      <li class="active-link">
        <a href="/admin/images/"><i class="fa fa-table"></i>Images </a>
      </li>
    </ul>
  </div>
</nav>
<!-- /. NAV SIDE  -->
