<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%- include("./includes/head.ejs") %>
    <title>Add Something</title>
  </head>

  <body>
    <%- include("./includes/navbar.ejs") %> <%-
    include("./includes/sidebar.ejs") %>
    <div id="wrapper">
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-12">
              <h2>DASHBOARD</h2>
            </div>
          </div>
          <!-- /. ROW  -->
          <hr />
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
              <form action="">
                <!-- <h5>Role</h5> -->
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <label>Role</label>
                    <input
                      class="form-control input-group"
                      placeholder="Role......"
                    />
                    <!-- <p class="help-block">Help text here.</p> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control input-group"
                      placeholder="start date..."
                    />
                    <!-- <p class="help-block">Help text here.</p> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <input
                      class="form-control input-group"
                      placeholder="end date..."
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <textarea
                      rows="6"
                      class="form-control input-group"
                      placeholder="Discrpetion (html allowed)..."
                    ></textarea>
                    <!-- <p class="help-block">Help text here.</p> -->
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <button
                    type="submit"
                    class="btn btn-success btn-lg full-width"
                  >
                    success
                  </button>
                </div>
              </form>
            </div>
            <div class="col-log-4 col-md-4 col-sm-12">
              <form action="">
                <input type="file" name="" id="" />
                <div class="col-12">
                  <div class="form-group">
                    <input
                      class="form-control input-group"
                      placeholder="end date..."
                    />
                  </div>
                </div>
                <img src="./1672123640006.jpg" alt="" class="fix" />
                <button type="submit" class="btn btn-success btn-md full-width">
                  success
                </button>
              </form>
              <br />
              <div class="form-actions">
                <form action="#" method="post" class="button-form">
                  <button type="submit" class="btn btn-info">info</button>
                </form>
                <form action="#" method="post" class="button-form">
                  <button type="submit" class="btn btn-warning">warning</button>
                </form>
                <form action="#" method="post" class="button-form">
                  <button type="submit" class="btn btn-danger">danger</button>
                </form>
              </div>
            </div>
          </div>
          <br />
          <br />
          <hr />
        </div>
      </div>
      <!-- /. PAGE WRAPPER  -->
    </div>

    <%- include("./includes/footer.ejs") %>
  </body>
</html>
